.DisplayImage {
  background-color: white;
  height: 300px;
  width: 250px;
  margin-left: 23px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  justify-self: center;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
}

img {
  height: 250px;
  width: 250px;
}
